.body{
    width: 90%;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    background-color: #0d1117;
    color: #c9d1d9;
    font-size: 14px;
    padding: 5px;
    margin: 1.4rem 3rem 3rem  4rem;

}

.issue{
    /* max-width: 80%; */
    color: #c9d1d9;
    font: 76px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    border: 1px solid rgba(240,246,252,0.1);;
    border-radius: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2.5rem; 
    font-size: 12px;
    line-height: 20px;
    width: 90px;
    font-weight: 500;
    /* color: #8b949e; */
    color: #c9d1d9;
    min-width: 110px;
    display: flex;
    cursor: pointer;
}

.box:hover{
   border: 1px solid #c9d1d9;
}

.box-button{
    color: #c9d1d9;
    border-radius: 5px;
    background-color:#006d32;
    outline: none;
    border: none;
    padding: .6rem;
    font-weight: 500;
}

.box-button:hover{
    border: 1px solid #c9d1d9;
 }

.box-input{
    display: table;
    min-width: 60%;
    max-width: 100%;
    /* padding: .3rem 0px 10rem .3rem; */
    padding: .6rem 1rem;
    font-size: inherit;
    font-weight: 400;
    color: #ffffff;
    /* vertical-align: middle; */
    background-color: #0d1117;
    border: 1px solid #30363d;
    box-shadow: none;
    border-radius: 2px;
    margin-right: 16px;
}

.box-input::focus { outline-color: #0d1117; } 


  .issues-table {
    display: block;
    margin: 1.8rem auto;
    max-width: 100%;
    border: 1px solid #30363d;
  }


  
  /*  ROW */
  .issue-row {
    max-width: 990px;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #e1e4e8;
    color: rgb(36, 41, 46);
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 10px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 3px;
  }
  
  .issue-row:hover {
    background-color: #f6f8fa;
  }
  
  .issue-row:first-child {
    border-top: none;
  }
  
  .issue-icon {
    height: 100%;
    margin-right: 8px;
    padding-top: 11px;
  }
  
  .issue-text {
    text-align: left;
    padding-top: 8px;
  }
  
  .issue-title {
    color: #24292e;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-bottom: 3px;
  }
  
  .issue-bug{
    background-color: #fe9600;
    color: black;
    font-size: 12px;
    font-weight: 500;
    padding: 0 7px;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
  }
  
  .issue-name {
    background-color: #82071e;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 0 7px;
    border: 1px solid transparent;
    border-radius: 2em;
  }
  
  .issue-subtitle {
    color: #586069;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

.issue-table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
    color: #8b949e;
    font: 24px;
}

.issue-table-head-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-table-head-right{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 24px;
    font-weight: 500;
}